<!-- <h2> {{studName}} Default Display</h2>
<h2> {{studName|lowercase}} lowercase</h2>
<h2> {{studName|uppercase}} uppercase</h2>
<h2> {{studName|titlecase}} titlecase</h2>
<hr>

<h2> Roll No is {{rollNo}} </h2>
<h2> Roll No is {{rollNo|number}} </h2>
<h2> Roll No is {{rollNo|number:'5.2'}} </h2>
<br>

<h2> {{studDob}} Default Display </h2>
<br>
<h2> {{studDob|date}} date</h2>
<br>
<h2> {{studDob|date:'shortDate'}} date with property shortDate</h2>
<br>
<h2> {{studDob|date:'longDate'}} date with property longDate</h2>
<br>
<h2> {{studDob|date:'mediumDate'}} date with property mediumDate</h2>
<br>
<h2> {{studDob|date:'shortTime'}} property shortTime</h2>
<br>
<h2> {{studDob|date:'mediumTime'}} property mediumTime</h2>
<br>
<h2> {{studDob|date:'longTime'}} Properrty longTime</h2>
<br>
<h2> {{studDob|date:'dd/MM/yyyy'}} Properrty dd/MM/yyyy </h2>
<hr>
<br>

<h2> {{feesPaid}} </h2>
<br>
<h2> {{feesPaid|currency:'USD'}} </h2>
<br>
<h2> Fees paid is {{feesPaid|currency:'INR'}} with discount of {{discountGained|percent}} </h2>
<br>
<h2> {{feesPaid|currency:'EUR'}} </h2>
<br>
<h2> {{feesPaid|currency:'JPY'}} </h2>
<hr>

<h2> {{favPerson}} </h2>
<h2> {{favPerson|json}} </h2> -->


<h1> {{variable|pipeName|titlecase}} </h1>